body{
    padding: 0;
    margin: 0;
}

.columns{
    width: 80%;
    justify-content: space-between;
    columns: 3;
    display: flex;
}

header{
    background-color: black;
    color: orange;
    text-align: center;
}

h1{
    padding-top: 2%;
}

.fluide{
    width: 80%;
}

.presentation{
    background-color: gray;
    display: block;
    margin-top: 5%;
    margin-left: 50%;
    width: 20%;
    text-align: center;
    padding: 2%;
}

.center{
    margin: 10%;
    text-align: center;
}

.space-top{
    margin-top: 2%;
}

.lien{
    color: white;
    list-style: none;
}

footer{

    margin-top: 10%;
    background-color: black;
    text-align: center;
    color: orange;
    padding: 50px;
}
